In [ ]:
# Pandas allows us to analyze big data and make conclusions based on statistical theories.
# Pandas can clean messy data sets, and make them readable and relevant.
# Relevant data is very important in data science.

# Installation Pandas
# C:\Users\Your Name>pip install pandas


# Series
import pandas as pd
a = [1, 7, 2]
df = pd.Series(a)
print(df)

0    1
1    7
2    2
dtype: int64

In [ ]:
# Creating Dataframe
import pandas as pd

data = {
  "column1": [1,2,3,4],
  "column2": [5,6,7,8],
  "string": ['one','two','three','four'],
    "bool":[False, True, False, True]
}

#load data into a DataFrame object:
df = pd.DataFrame(data)

print(df)

   column1  column2 string   bool
0        1        5    one  False
1        2        6    two   True
2        3        7  three  False
3        4        8   four   True

In [ ]:
# Creating dataframe using list
#import pandas as pd
 
# list of strings
lst =  ['Array', 'Stack', 'Queue', 
            'Linked List','Graph',"Tree"]
 
# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)

             0
0        Array
1        Stack
2        Queue
3  Linked List
4        Graph
5         Tree

In [ ]:
# Creating dataframe using dictionary
import pandas as pd
 
# intialise data of lists.
data = {'Name':['Tom', 'nick', 'krish', 'jack'],
        'Age':[20, 21, 19, 18]}
 
# Create DataFrame
df = pd.DataFrame(data)
 
# Print the output.
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

In [ ]:
# data in the form of list of tuples
data = [('Peter', 18, 7),
        ('Riff', 15, 6),
        ('John', 17, 8),
        ('Michel', 18, 7),
        ('Sheli', 17, 5) ]
 
# create DataFrame using data
df = pd.DataFrame(data, columns =['Name', 'Age', 'Score'])
print(df)

     Name  Age  Score
0   Peter   18      7
1    Riff   15      6
2    John   17      8
3  Michel   18      7
4   Sheli   17      5

In [ ]:
# Importing CSV file
import pandas as pd
df = pd.read_csv("Iris.csv")
print(df)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [ ]:
# Importing Excel file
import pandas as pd
df = pd.read_excel('Iris1.xls')    # use pip3 install xlrd in cmd
print(df)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [ ]:
# Get a quick overview by printing the first 10 rows of the DataFrame:

import pandas as pd

df = pd.read_csv('Iris.csv')

print(df.head(10))

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [ ]:
import pandas as pd
df = pd.read_csv('Iris.csv')
print(df.tail(10))

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
140  141            6.7           3.1            5.6           2.4
141  142            6.9           3.1            5.1           2.3
142  143            5.8           2.7            5.1           1.9
143  144            6.8           3.2            5.9           2.3
144  145            6.7           3.3            5.7           2.5
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
140  Iris-virginica
141  Iris-virginica
142  Iris-virginica
143  Iris-virginica
144  Iris-virginica
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

In [ ]:
# making data frame from csv file
df = pd.read_csv("Iris.csv", index_col ="SepalLengthCm")
print(df)

                Id  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
SepalLengthCm
5.1              1           3.5            1.4           0.2     Iris-setosa
4.9              2           3.0            1.4           0.2     Iris-setosa
4.7              3           3.2            1.3           0.2     Iris-setosa
4.6              4           3.1            1.5           0.2     Iris-setosa
5.0              5           3.6            1.4           0.2     Iris-setosa
...            ...           ...            ...           ...             ...
6.7            146           3.0            5.2           2.3  Iris-virginica
6.3            147           2.5            5.0           1.9  Iris-virginica
6.5            148           3.0            5.2           2.0  Iris-virginica
6.2            149           3.4            5.4           2.3  Iris-virginica
5.9            150           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [8]:

import pandas as pd
df = pd.read_csv()
result = df.loc[:, ['SepalWidthCm', 'PetalLengthCm']]
# Print the result
print(result)

NameError: ignored

In [ ]:
# retrieving rows by iloc method 
row2 = df.iloc[4] 
print(row2)

Id                         5
SepalWidthCm             3.6
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 5.0, dtype: object

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None

In [ ]:
# printing Size
print(df.size)

900

In [ ]:
# printing Shape
print(df.shape)

(150, 6)

In [ ]:
# printing Dimensions
print(df.ndim)

2

In [ ]:
# printing Type
print(df.dtypes)

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [ ]:
# Working with Missing Data

# Null values
# A Null value can occur when no data is being provided to the items. 
# The various columns may contain no values which are usually represented as NaN. 
# In Pandas, several useful functions are available for detecting, removing, and replacing the null values in Data Frame. 
# These functions are as follows:

# isnull(): The main task of isnull() is to return the true value if any row has null values.
# notnull(): It is opposite of isnull() function and it returns true values for not null value.
# dropna(): This method analyzes and drops the rows/columns of null values.
# fillna(): It allows the user to replace the NaN values with some other values.
# replace(): It is a very rich function that replaces a string, regex, series, dictionary, etc

In [ ]:
# Checking for missing values using isnull() and notnull() :
# Both function help in checking whether a value is NaN or not

# importing pandas as pd
import pandas as pd

# importing numpy as np
import numpy as np
 
# dictionary of lists
dict = {'First Score':[100, 90, np.nan, 95],
        'Second Score': [30, 45, 56, np.nan],
        'Third Score':[np.nan, 40, 80, 98]}
 
# creating a dataframe from list
df = pd.DataFrame(dict)
 
# using isnull() function  
df.isnull()

   First Score  Second Score  Third Score
0        False         False         True
1        False         False        False
2         True         False        False
3        False          True        False